**3.1 Warm Up Exercises:**
1. Sorting and Subsetting:

Problem 1 - Sorting:

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#Creating a dataframe named fare that contains only Fare column
fare = dataset[['Fare']]
print("Fare dataframe:")
print(fare.head())
print()

#Creating a dataframe named class_age that contains only Pclass and Age columns
class_age= dataset[['Pclass', 'Age']]
print("Class-age dataframe:")
print(class_age.head())
print()

#Creating a dataframe named survived_gender that contains only Survived and Sex columns
survived_gender = dataset[['Survived', 'Sex']]
print("Survived gender dataframe:")
print(survived_gender.head())
print()

Fare dataframe:
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

Class-age dataframe:
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Survived gender dataframe:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem - 2 - Subsetting:

Subsetting Rows:

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#Filtering the dataset where passenger's fare is >100
fare_gt_100 = dataset[dataset['Fare'] > 100]
print("Passenger’s fare greater than 100 is:")
print()
print(fare_gt_100.head().to_string(index=False))
print()

#Filtering the dataset where passenger's Pclass is 1
first_class = dataset[dataset['Pclass'] == 1]
print("Passenger’s class (Pclass=1) is:")
print()
print(first_class.head().to_string(index=False))
print()

#Filtering the dataset where passenger is female and age less than 18.
female_under_18 = dataset[(dataset['Age'] < 18) & (dataset['Sex'] == 'female')]
print("Passenger who is female and less than 18 is:")
print()
print(female_under_18.head().to_string(index=False))
print()

Passenger’s fare greater than 100 is:

 PassengerId  Survived  Pclass                                           Name    Sex  Age  SibSp  Parch   Ticket     Fare       Cabin Embarked
          28         0       1                 Fortune, Mr. Charles Alexander   male 19.0      3      2    19950 263.0000 C23 C25 C27        S
          32         1       1 Spencer, Mrs. William Augustus (Marie Eugenie) female  NaN      1      0 PC 17569 146.5208         B78        C
          89         1       1                     Fortune, Miss. Mabel Helen female 23.0      3      2    19950 263.0000 C23 C25 C27        S
         119         0       1                       Baxter, Mr. Quigg Edmond   male 24.0      0      1 PC 17558 247.5208     B58 B60        C
         196         1       1                           Lurette, Miss. Elise female 58.0      0      0 PC 17569 146.5208         B80        C

Passenger’s class (Pclass=1) is:

 PassengerId  Survived  Pclass                                                Name    Sex  Age  SibSp  Parch   Ticket    Fare Cabin Embarked
           2         1       1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0      1      0 PC 17599 71.2833   C85        C
           4         1       1        Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0      1      0   113803 53.1000  C123        S
           7         0       1                             McCarthy, Mr. Timothy J   male 54.0      0      0    17463 51.8625   E46        S
          12         1       1                            Bonnell, Miss. Elizabeth female 58.0      0      0   113783 26.5500  C103        S
          24         1       1                        Sloper, Mr. William Thompson   male 28.0      0      0   113788 35.5000    A6        S

Passenger who is female and less than 18.

 PassengerId  Survived  Pclass                                 Name    Sex  Age  SibSp  Parch  Ticket    Fare Cabin Embarked
          10         1       2  Nasser, Mrs. Nicholas (Adele Achem) female 14.0      1      0  237736 30.0708   NaN        C
          11         1       3      Sandstrom, Miss. Marguerite Rut female  4.0      1      1 PP 9549 16.7000    G6        S
          15         0       3 Vestrom, Miss. Hulda Amanda Adolfina female 14.0      0      0  350406  7.8542   NaN        S
          23         1       3          McGowan, Miss. Anna "Annie" female 15.0      0      0  330923  8.0292   NaN        Q
          25         0       3        Palsson, Miss. Torborg Danira female  8.0      3      1  349909 21.0750   NaN        S

Subsetting Rows by Categorical variables:

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#Filtering the dataset where passenger's Embarked port is either C or S
embarked_c_or_s = dataset[dataset['Embarked'].isin(['C', 'S'])]
print("Embarked port C or S is:")
print()
print(embarked_c_or_s.head().to_string(index=False))
print()

#Filtering the dataset where passenger's Pclass is in the list [1,2]
first_second_class = dataset[dataset['Pclass'].isin([1, 2])]
print("Pclass is in the first or second class is:")
print()
print(first_second_class.head().to_string(index=False))

Embarked port C or S is:

 PassengerId  Survived  Pclass                                                Name    Sex  Age  SibSp  Parch           Ticket    Fare Cabin Embarked
           1         0       3                             Braund, Mr. Owen Harris   male 22.0      1      0        A/5 21171  7.2500   NaN        S
           2         1       1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0      1      0         PC 17599 71.2833   C85        C
           3         1       3                              Heikkinen, Miss. Laina female 26.0      0      0 STON/O2. 3101282  7.9250   NaN        S
           4         1       1        Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0      1      0           113803 53.1000  C123        S
           5         0       3                            Allen, Mr. William Henry   male 35.0      0      0           373450  8.0500   NaN        S

Pclass is in the list [1, 2] is:

 PassengerId  Survived  Pclass                                                Name    Sex  Age  SibSp  Parch   Ticket    Fare Cabin Embarked
           2         1       1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0      1      0 PC 17599 71.2833   C85        C
           4         1       1        Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0      1      0   113803 53.1000  C123        S
           7         0       1                             McCarthy, Mr. Timothy J   male 54.0      0      0    17463 51.8625   E46        S
          10         1       2                 Nasser, Mrs. Nicholas (Adele Achem) female 14.0      1      0   237736 30.0708   NaN        C
          12         1       1                            Bonnell, Miss. Elizabeth female 58.0      0      0   113783 26.5500  C103        S

**3.2 Exploratory Data Analysis Practice Exercise - 1.**

Which passenger had the highest fare paid relative to their age?

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#Handling the missing values in age column by filling them with median age of the dataset.
median_age = dataset['Age'].median()
# Fill missing values in the Age column with the median age
dataset['Age'].fillna(median_age, inplace=True)

#Adding the Fare-per-Year column which contains the fare divided by the age of the passenger
dataset["Fare-per-Year"]=dataset['Fare'] / dataset['Age']
print("After adding new Fare-per-Year column:")
print()
print(dataset.head().to_string(index=False))
print()

#Subsetting the rows where Fare-per-Year>5 then assigning it to the high_fare_age
high_fare_age = dataset[dataset['Fare-per-Year'] > 5]
print("Fare-per-Year > 5 is:")
print()
print(high_fare_age.head().to_string(index=False))
print()

#  Sortting high_fare_age by descending Fare-per-Year and assigning it to high_fare_age_srt
high_fare_age_srt = high_fare_age.sort_values(by='Fare-per-Year', ascending=False)
print("Sorted high_fare_age by Fare-per-Year in descending order:")
print()
print(high_fare_age_srt.head().to_string(index=False))
print()

# Selecting only the Name and Fare-per-Year columns from high_fare_age_srt
result = high_fare_age_srt[['Name', 'Fare-per-Year']]

#Printing the result
print("Result with only Name and Fare-per-Year columns:")
print()
print(result.head().to_string(index=False))

Missing values in 'Age' column: 177
Missing values in 'Age' column after filling: 0
After adding new Fare-per-Year column:

 PassengerId  Survived  Pclass                                                Name    Sex  Age  SibSp  Parch           Ticket    Fare Cabin Embarked  Fare-per-Year
           1         0       3                             Braund, Mr. Owen Harris   male 22.0      1      0        A/5 21171  7.2500   NaN        S       0.329545
           2         1       1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0      1      0         PC 17599 71.2833   C85        C       1.875876
           3         1       3                              Heikkinen, Miss. Laina female 26.0      0      0 STON/O2. 3101282  7.9250   NaN        S       0.304808
           4         1       1        Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0      1      0           113803 53.1000  C123        S       1.517143
           5         0       3                            Allen, Mr. William Henry   male 35.0      0      0           373450  8.0500   NaN        S       0.230000

Fare-per-Year > 5 is:

 PassengerId  Survived  Pclass                                           Name    Sex  Age  SibSp  Parch        Ticket     Fare       Cabin Embarked  Fare-per-Year
           8         0       3                 Palsson, Master. Gosta Leonard   male  2.0      3      1        349909  21.0750         NaN        S      10.537500
          17         0       3                           Rice, Master. Eugene   male  2.0      4      1        382652  29.1250         NaN        Q      14.562500
          28         0       1                 Fortune, Mr. Charles Alexander   male 19.0      3      2         19950 263.0000 C23 C25 C27        S      13.842105
          32         1       1 Spencer, Mrs. William Augustus (Marie Eugenie) female 28.0      1      0      PC 17569 146.5208         B78        C       5.232886
          44         1       2       Laroche, Miss. Simonne Marie Anne Andree female  3.0      1      2 SC/Paris 2123  41.5792         NaN        C      13.859733

Sorted high_fare_age by Fare-per-Year in descending order:

 PassengerId  Survived  Pclass                            Name    Sex  Age  SibSp  Parch  Ticket     Fare   Cabin Embarked  Fare-per-Year
         306         1       1  Allison, Master. Hudson Trevor   male 0.92      1      2  113781 151.5500 C22 C26        S     164.728261
         298         0       1    Allison, Miss. Helen Loraine female 2.00      1      2  113781 151.5500 C22 C26        S      75.775000
         387         0       3 Goodwin, Master. Sidney Leonard   male 1.00      5      2 CA 2144  46.9000     NaN        S      46.900000
         165         0       3    Panula, Master. Eino Viljami   male 1.00      4      1 3101295  39.6875     NaN        S      39.687500
         184         1       2       Becker, Master. Richard F   male 1.00      2      1  230136  39.0000      F4        S      39.000000

Result with only Name and Fare-per-Year columns:

                           Name  Fare-per-Year
 Allison, Master. Hudson Trevor     164.728261
   Allison, Miss. Helen Loraine      75.775000
Goodwin, Master. Sidney Leonard      46.900000
   Panula, Master. Eino Viljami      39.687500
      Becker, Master. Richard F      39.000000

<ipython-input-3-f5753c304e06>:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset['Age'].fillna(median_age, inplace=True)

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#Adding a column Fare per class which contains fare divided by Pclass
dataset["Fare per class"]=dataset['Fare'] / dataset['Pclass']
print("After adding Fare per class column:")
print()
print(dataset.head().to_string(index=False))
print()

#Subsetting the rows where passenger is a male and an adult
Adult_males = dataset[(dataset['Sex'] == 'male') & (dataset['Age'] >= 18)]
print("After asubsetting rows where sex=male and age>=18:")
print()
print(Adult_males.head())
print()

#Sorting adult_males by descending fare_per_class and assigning it to adult_males_srt
adult_males_srt = Adult_males.sort_values(by='Fare per class', ascending=False)
print("After sorting adult males by descending Fare per class:")
print()
print(adult_males_srt.head().to_string(index=False))
print()

#Selecting only 'Name', 'Age', 'Fare per class'
result = adult_males_srt[['Name', 'Age', 'Fare per class']]
print("Final result with Name, Age, and Fare per class columns:")
print()
print(result.head().to_string(index=False))

After adding Fare per class column:

 PassengerId  Survived  Pclass                                                Name    Sex  Age  SibSp  Parch           Ticket    Fare Cabin Embarked  Fare per class
           1         0       3                             Braund, Mr. Owen Harris   male 22.0      1      0        A/5 21171  7.2500   NaN        S        2.416667
           2         1       1 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0      1      0         PC 17599 71.2833   C85        C       71.283300
           3         1       3                              Heikkinen, Miss. Laina female 26.0      0      0 STON/O2. 3101282  7.9250   NaN        S        2.641667
           4         1       1        Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0      1      0           113803 53.1000  C123        S       53.100000
           5         0       3                            Allen, Mr. William Henry   male 35.0      0      0           373450  8.0500   NaN        S        2.683333

After asubsetting rows where sex=male and age>=18:

    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
6             7         0       1         McCarthy, Mr. Timothy J  male  54.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0
13           14         0       3     Andersson, Mr. Anders Johan  male  39.0

    SibSp  Parch     Ticket     Fare Cabin Embarked  Fare per class
0       1      0  A/5 21171   7.2500   NaN        S        2.416667
4       0      0     373450   8.0500   NaN        S        2.683333
6       0      0      17463  51.8625   E46        S       51.862500
12      0      0  A/5. 2151   8.0500   NaN        S        2.683333
13      1      5     347082  31.2750   NaN        S       10.425000

After sorting adult males by descending Fare per class:

 PassengerId  Survived  Pclass                               Name  Sex  Age  SibSp  Parch   Ticket     Fare       Cabin Embarked  Fare per class
         738         1       1             Lesurer, Mr. Gustave J male 35.0      0      0 PC 17755 512.3292        B101        C        512.3292
         680         1       1 Cardeza, Mr. Thomas Drake Martinez male 36.0      0      1 PC 17755 512.3292 B51 B53 B55        C        512.3292
          28         0       1     Fortune, Mr. Charles Alexander male 19.0      3      2    19950 263.0000 C23 C25 C27        S        263.0000
         439         0       1                  Fortune, Mr. Mark male 64.0      1      4    19950 263.0000 C23 C25 C27        S        263.0000
         119         0       1           Baxter, Mr. Quigg Edmond male 24.0      0      1 PC 17558 247.5208     B58 B60        C        247.5208

Final result with Name, Age, and Fare per class columns:

                              Name  Age  Fare per class
            Lesurer, Mr. Gustave J 35.0        512.3292
Cardeza, Mr. Thomas Drake Martinez 36.0        512.3292
    Fortune, Mr. Charles Alexander 19.0        263.0000
                 Fortune, Mr. Mark 64.0        263.0000
          Baxter, Mr. Quigg Edmond 24.0        247.5208

**3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:**

What percent of the total fare revenue came from each passenger class?

In [ ]:
#Importing pandas
import pandas as pd

#Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#(1).Total fare
total_fare = dataset['Fare'].sum()
print("The total fare is:",total_fare)
print()

#(2). Total fare for all the classes
#This results in series
fare_by_class = dataset.groupby('Pclass')['Fare'].sum()

#(4).Converting the series to a list and printing it
fare_by_class_list = fare_by_class.tolist()
print(fare_by_class_list)
print()

# Calculating the percentage revenue for each class
proportion_by_class = (fare_by_class / total_fare) * 100

# Results
print("Each passenger class generated following percentage of the total fare revenue:")
print(proportion_by_class)

The total fare is: 28693.9493

[18177.4125, 3801.8417, 6714.6951]

Each passenger class generated following percentage of the total fare revenue:
Pclass
1    63.349288
2    13.249629
3    23.401084
Name: Fare, dtype: float64

What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

In [ ]:
#Importing pandas
import pandas as pd

#(1).Loading the bank.csv file
file_path='Titanic-Dataset.csv';
dataset = pd.read_csv(file_path)

#(1)
# Creating a new column 'Age Group' to categorize passenger into child, adult and senior
dataset['Age Group'] = ['child' if age < 18 else 'adult' if age < 65 else 'senior' for age in dataset['Age']]

#(2)
#Counting the total number of passengers
total_passengers = dataset.shape[0]
# Printing the result
print(f"Total number of passengers: {total_passengers}")
print()

# (3) Grouping by 'Age Group' and counting the number of passengers in each age group
age_group_counts = dataset.groupby('Age Group').size()
print("The number of passengers in each age group is:")
print(age_group_counts)
print()

# (4) Calculating the proportion of passengers in each age group
age_group_proportion = (age_group_counts / total_passengers) * 100
print("The percent of the total number of passengers on the Titanic that belonged to each age group is as follows:")
for age_group, proportion in age_group_proportion.items():
    print(f"{age_group}: {proportion:.3f}%")

Total number of passengers: 891

The number of passengers in each age group is:
Age Group
adult     590
child     113
senior    188
dtype: int64

The percent of the total number of passengers on the Titanic that belonged to each age group is as follows:
adult: 66.218%
child: 12.682%
senior: 21.100%